@import './action-button';
@import './state-transitions';

div#admin-mycause-view {
    p.no-cause {
        margin-bottom: 0.5rem;

        button.action {
            height: 2rem;
            width: 12rem;
            margin-right: 1rem;
        }        
    }
    
    form.edit-form {
        .form-line {
            margin-bottom: 0.5rem;

            .form-line-info {
                label {
                    font-size: 13px;
                    font-weight: 600;
                    font-variant: small-caps;
                }

                .modifiers {
                    font-size: 13px;
                    padding-left: 0.5rem;
                    
                    &.modified {
                        color: green;
                    }

                    &.warning {
                        color: orange;
                    }

                    &.mandatory {
                        color: firebrick;
                        font-weight: 600;
                    }
                }                
            }

            input#admin-mycause-title, input#admin-mycause-slug {
                width: 20rem;
                @media all and (max-width: 800px) {
                    width: 100%;
                }
            }

            textarea#admin-mycause-description {
                width: 100%;
                max-width: 40rem;
                height: 10rem;
            }
        }
    }

    .create-controls, .update-controls, .delete-controls {
        line-height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        button.action {
            height: 2rem;
            width: 8rem;
            margin-right: 1rem;
        }
    }

    .delete-controls {
        button.action {
            height: 2rem;
            width: 12rem;
            
            span.icon {
	        position: relative;
	        margin-right: 0.5rem;
	        top: 0.1rem;
	        display: inline-block;
	        width: 1.5em;
	        height: 1.5em;
	        background-image: url('./static/warning-icon.svg');
	        background-color: transparent;
	        background-repeat: no-repeat;
	        background-size: cover;
            }

            span.text {
                position: relative;
                top: -0.25rem;
            }
        }
    }
}