#app-frame-header {
    line-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;

    .header-section {
        display: inline-block;

        &.links {
            a {
                margin-left: 0.5em;
                margin-right: 0.5em;
                text-decoration: none;
            }
        }

        &.title {
            font-size: 2em;
            font-weight: 600;
            font-variant: small-caps;
        }
    }
}
