@import './action-button';


#cookie-policy-widget {
    line-height: 2rem;
    text-align: center;

    .content {
        font-size: 0.75rem;

        > * {
            margin-right: 0.2rem;

            &:last-child {
                margin-right: 0rem;
            }
        }
    }
}
