@import './action-button';


#cookie-policy-widget {
    line-height: 2em;
    text-align: center;

    .content {
	font-size: 0.75em;

	> * {
            margin-right: 0.2em;

            &:last-child {
		margin-right: 0em;
	    }
	}
    }
}
