@import './colors';


.public-cause-widget {
    @media all and (min-width: 800px) {
	width: 23.49em;
    }
    @media all and (max-width: 800px) {
	width: 100%;
    }

    margin-bottom: 1em;
    border: 1px solid @bordercolor;
    box-sizing: border-box;

    .cause-picture {
	width: 100%;
	height: auto;
    }
}

