#app-frame-header {
    .header-section {
        display: inline-block;

        a.auth-button {
            margin-left: 0.5em;
            margin-right: 0.5em;
            text-decoration: none;
        }
    }
}